<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="net.nemo.whatever.db.mapper.TagMapper">
    <select id="findLinkTags" parameterType="int" resultType="string">
      select distinct t.name name
      from tags t
        left join messages m on t.message_id = m.id
      where m.type = 2 and m.receiver_id = #{user_id};
    </select>

    <insert id="addTag">
      insert into tags (message_id, name)
	  values(#{message_id},#{tag_name})
    </insert>

    <delete id="deleteTag">
        delete from tags
        where message_id = #{message_id} and name = #{tag_name}
    </delete>

    <select id="findTags" parameterType="int" resultType="String">
        select t.name
        from tags t
        where t.message_id = #{message_id}
    </select>
</mapper>