html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

.sent {
    position:relative;
    max-width: 350px;
    min-height: 35px;
    background:#A6DADC;
    border-radius:5px; /* 圆角 */
    margin:10px 10px 0 auto;
    padding: 10px;
    display: table;
}

.sent .arrow {
    position:absolute;
    top:5px;
    right:-16px;
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:white white white #A6DADC;
}

.received {
    position:relative;
    max-width: 350px;
    min-height: 35px;
    background:#F8C301;
    border-radius:5px; /* 圆角 */
    margin:10px auto 0 10px;
    padding: 10px;
    display: table;
}

.received .arrow {
    position:absolute;
    top:5px;
    left:-16px;
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:white #F8C301 white white ;
}

.fragment img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline;
}

.fragment p{
    font-size: 8pt;
    color: gray;
    margin: 0 0 0px!important;
}

.tag-item{
    cursor: pointer;
}

.bootstrap-tagsinput {
    width: 100%!important;
    background-color: transparent!important;
    border: 0px!important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075)!important;
    padding: 4px 4px 4px 0px!important;
}

.bootstrap-tagsinput input{
    display: none;
    width: 100%!important;
    border-width: 0px 0px 1px 0px!important;
    border-color: black!important;
    border-style: solid!important;
    padding: 0px!important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.text-muted{
    text-align: center;
    padding-top: 12px;
    font-size: 8pt
}

.right{
    float: right;
}

.header{
    width: 100%;
}

button.submit{
    width: 70%;
    border: 0px;
    padding: 0;
    border-radius: 10%;
}

button.submit img{
    width:100%;
}
