<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wecord</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/wecord.css"/>
    <link rel="stylesheet" href="${assets.css}"/>
    $script
</head>
<body>
<div class="container">
    #parse("web/common/header.vm")
    <div class="row" id="root">
        $screen_content
    </div>
</div>
#parse("web/common/footer.vm")
<script type="text/javascript" src="${assets.js}"></script>
</body>
</html>
